/* Small Reset */
*::before, *::after, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prepare the body */
body {
  background: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container for the Banner */
.container  {
  overflow: hidden;
  position: relative;
  width: 380px;
  height: 800px;
  background: black;
  border: 1px solid red;
}

/* Web Department Logo */

.web {
  position: absolute;
  width: 100px;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  /* opacity: 0; */
}

/* SAE Logo White */

.sae {
  position: absolute;
  width: 200px;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  /* opacity: 0; */
}

/* Text - Typewriter effect */

p {
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: orange;
  text-align: center;
  font-size: 2.2rem;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  font-family: monospace;

}

.line {
  text-align: left;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2.2rem;
  background: orange;
  opacity: 0;
}

/* List */

ul {
  position: absolute;
  width: 80%;
  left: 50%;
  top: 45%;
  transform: translateX(-50%);
  color: white;
}

ul li {
  opacity: 0;
  letter-spacing: 0.1rem;
  font-family: sans-serif;
  list-style: none;
  font-size: 1.2rem;
  margin-top: 1.4rem;
  margin-left: 2rem;
  text-indent: -1.4rem;
}

.disc {
  display: inline-block;
  width: 7px;
  height: 14px;
  border-radius: 0 30px 30px 0;
  background: purple;
  margin-right: 1rem;
}

/* Call to Action */

.cta {
  display: none;
  position: absolute;
  top: 45%;
  background: rgba(180, 180, 180, 0.66);

}

.cta a {
  text-decoration: none;
  display: block;
  color: white;
  font-size: 2.5rem;
  font-family: Impact, sans-serif;
  word-spacing: 100vw;
  text-align: center;
}

.cta i {
  color: purple;
}