@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Small Reset */
*::before, *::after, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins';
  font-weight: 400;
  line-height: 1.2;
  color: #eaeaea;
  background: #3a3a3a;
}

a {
  color: #eaeaea;
}

.mr-circle, .mrs-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: solid 2px rgb(255, 94, 94);
  border-radius: 50%;
  text-align: center;
  color: white;
}

.mrs-square, .mr-square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: solid 2px rgb(98, 98, 255);
}

.mr-square {
  border-color: rgb(255, 197, 90);
}

.mrs-circle {
  border-color: rgb(251, 85, 251);
}